* {
    box-sizing: border-box;

}


.container{
    box-sizing: content-box;
    display:flex;
    display:flexbox;
   justify-content: space-around;
    margin-right: 2px;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(244, 233, 188);

    
    background-color:rgb(20, 141, 227)
}
header h1{
   
    text-align: center;
    font-size: 40px;
   
}
header{
    padding: 40px;
    background-color: rgb(56, 190, 213);
}

nav {
    background-color: #333;
    overflow: hidden;
}
nav a{
    text-decoration: solid;
    overflow: hidden;
    padding: 40px;
    text-align: center;
    float: left;
    color: aliceblue;
}

footer{
    padding: 10px;
    text-decoration:solid ;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
img{
    border-radius: 25%;
}
